        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    Gabinete Estadual da Ordem DeMolay Gaúcha - 
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
{{ theme:js file="core/jquery.min.js" }}
{{ theme:js file="core/popper.min.js" }}
{{ theme:js file="core/bootstrap-material-design.min.js" }}
{{ theme:js file="plugins/perfect-scrollbar.min.js" }}
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
{{ theme:js file="material-dashboard.min6c54.js?v=2.2.2" type="text/javascript" }}
</body>
</html>