
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <!-- <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com/">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com/">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav> -->
          <div class="copyright float-right">
            &copy;
            Gabinete Estadual da Ordem DeMolay Gaúcha - 
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  {{ theme:js file="core/jquery.min.js" }}
  {{ theme:js file="core/popper.min.js" }}
  {{ theme:js file="core/bootstrap-material-design.min.js" }}
  {{ theme:js file="plugins/perfect-scrollbar.min.js" }}
  <!-- Plugin for the momentJs  -->
  {{ theme:js file="plugins/moment.min.js" }}
  <!--  Plugin for Sweet Alert -->
  {{ theme:js file="plugins/sweetalert2.js" }}
  <!-- Forms Validations Plugin -->
  {{ theme:js file="plugins/jquery.validate.min.js" }}
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  {{ theme:js file="plugins/jquery.bootstrap-wizard.js" }}
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  {{ theme:js file="plugins/bootstrap-selectpicker.js" }}
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  {{ theme:js file="plugins/bootstrap-datetimepicker.min.js" }}
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  {{ theme:js file="plugins/jquery.dataTables.min.js" }}
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  {{ theme:js file="plugins/bootstrap-tagsinput.js" }}
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  {{ theme:js file="plugins/jasny-bootstrap.min.js" }}
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  {{ theme:js file="plugins/fullcalendar.min.js" }}
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  {{ theme:js file="plugins/jquery-jvectormap.js" }}
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  {{ theme:js file="plugins/nouislider.min.js" }}
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  {{ theme:js file="plugins/arrive.min.js" }}
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Chartist JS -->
  {{ theme:js file="plugins/chartist.min.js" }}
  <!--  Notifications Plugin    -->
  {{ theme:js file="plugins/bootstrap-notify.js" }}
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  {{ theme:js file="material-dashboard.min6c54.js" }}
</body>
</html>