<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{{settings:site_name}} &raquo; {{template:title}}</title>
  {{ theme:partial name="meta" }}
</head>
<body class="off-canvas-sidebar">
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
            <div class="container">