
		<!-- Footer -->
        <section id="footer">
            <div class="inner">
                <header>
                    <h2>Get in Touch</h2>
                </header>
                <form method="post" action="#">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="alt" /></li>
                    </ul>
                </form>
                <div class="copyright">
                    &copy; Gabinete Estadual da Ordem DeMolay Gaúcha -
                    <script>
                      document.write(new Date().getFullYear())
                    </script></a>
                </div>
            </div>
        </section>

        <!-- Scripts -->
        {{ theme:js file="jquery.min.js" }}
        {{ theme:js file="skel.min.js" }}
        {{ theme:js file="util.js" }}
        {{ theme:js file="main.js" }}

</body>
</html>