   
    #link-list a {
        text-decoration:none;
        font-size:13px;
        color:#5c5b5b;
        padding:1px 1px 1px 15px;
        background:url(../img/off.png) no-repeat left;
    }
    
    #link-list a:hover {
        text-decoration:underline;
    }
    
    #link-list a.selected {
        color:#000;
        background:url(../img/on.png) no-repeat left;
    }
    
    .ui-sortable li div {
        background: url(../../../themes/lazzocms/img/icons/drag_handle_dark.gif) #eee no-repeat 99% 6px;
    }