
		<!-- Footer -->
        <section id="footer">
            <div id="contato" class="inner">
                <header>
                    <h2>Fale com a gente!</h2>
                </header>
                <form method="post" action="home/contato">
                    <input type="hidden" name="redirect_to" value="{{ url:current }}">
                    <div class="field half first">
                        <label for="nome">Nome</label>
                        <input required type="text" name="nome" id="nome" value="{{user:display_name}}" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input required type="text" name="email" id="email" value="{{user:email}}" />
                    </div>
                    <div class="field">
                        <label for="mensagem">Mensagem</label>
                        <textarea required name="mensagem" id="mensagem" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Enviar Mensagem" class="alt" /></li>
                    </ul>
                </form>
                <div class="copyright">
                    &copy; Gabinete Estadual da Ordem DeMolay Gaúcha -
                    <script>
                      document.write(new Date().getFullYear())
                    </script></a>
                </div>
            </div>
        </section>

        <script>
            $(function(){
                <?php if ($this->session->flashdata('message')): ?>
                    alert('<?php echo $this->session->flashdata('message'); ?>')
                <?php endif; ?>
            })
        </script>

        <!-- Scripts -->
        {{ theme:js file="front/skel.min.js" }}
        {{ theme:js file="front/util.js" }}
        {{ theme:js file="front/main.js" }}

</body>
</html>