        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    Gabinete Estadual da Ordem DeMolay Gaúcha - 
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="d-none">
    <div id="loader-blockui" class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

{{ theme:partial name="notices" }}

<!--   Core JS Files   -->
{{ theme:js file="core/jquery.min.js" }}
{{ theme:js file="core/popper.min.js" }}
{{ theme:js file="core/bootstrap-material-design.min.js" }}
{{ theme:js file="plugins/perfect-scrollbar.min.js" }}
{{ theme:js file="plugins/jquery.blockUI.js" }}
{{ theme:js file="plugins/bootstrap-notify.js" }}
{{ theme:js file="plugins/jquery-form.js" }}
{{ theme:js file="plugins/moment.min.js" }}
{{ theme:js file="plugins/bootstrap-datetimepicker.min.js" }}
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
{{ theme:js file="demo.js" }}
{{ theme:js file="material-dashboard.min6c54.js" }}
{{ theme:js file="login.js" }}

{{ theme:partial name="notices" }}
</body>
</html>