<!DOCTYPE HTML>
<html>

<head>
	<title>{{ settings:site_name }} &raquo; {{template:title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{{ theme:css file="bootstrap-front.css" }}
	{{ theme:css file="front.css" }}
	<script src="https://kit.fontawesome.com/4c36f166ff.js" crossorigin="anonymous"></script>
	{{ theme:js file="front/jquery.min.js" }}
	<!-- Set a base location for assets -->
	<base href="{{ url:base }}" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="" class="logo"><img src="<?=$this->template->get_theme_path()?>img/logo-light.png" alt=""></a>
			<nav id="nav">
				<a href="./">Home</a>
				<a href="sobre">Sobre</a>
				<a href="blog">Blog</a>
				<a href="#contato">Contato</a>
				{{ if user:logged_in }}
				<a href="sis">SISGOD</a>
				{{ else }}
				<a href="login">Login</a>
				{{ endif }}
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>