<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{{settings:site_name}} &raquo; {{template:title}}</title>
    {{ theme:partial name="meta" }}
</head>

<body class="off-canvas-sidebar">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">{{template:title}}</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="login" class="nav-link">
                            <i class="material-icons">fingerprint</i>
                            Login
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="firstaccess" class="nav-link">
                            <i class="material-icons">person_add</i>
                            Primeiro Acesso
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="forgot" class="nav-link">
                            <i class="material-icons">lock_open</i>
                            Esqueci a senha
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black"
            style="background-image: url('<?=$this->template->get_theme_path()?>img/login.jpg'); background-size: cover; background-position: top center;">
            <div class="container">