<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>{{settings:site_name}} &raquo; {{template:title}}</title>
  {{ theme:partial name="meta" }}
  {{ theme:css file="customSis.css" }}
</head>

<body>
  <div class="wrapper ">
    <!-- sidebar start -->
    <div class="sidebar" data-color="danger" 
      data-image="<?=$this->template->get_theme_path()?>img/sidebar-bg.png">
      <div class="logo">
        <a href="sis" class="simple-text logo-normal">
          <img src="<?=$this->template->get_theme_path()?>img/logo.png" alt="">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <img
              src="{{ if user:profile_image }}{{ user:profile_image }}{{else}}<?=$this->template->get_theme_path()?>img/default-avatar.png{{endif}}" />
          </div>
          <div class="user-info">
            <a class="username">
              <span>
                {{ user:display_name }}
              </span>
            </a>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="sis">
              <i class="material-icons">dashboard</i>
              <p> Dashboard </p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#blogItems">
              <i class="material-icons">auto_stories</i>
              <p> Blog
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="blogItems">
              <ul class="nav">

                <li class="nav-item ">
                  <a class="nav-link" href="sis/blog">
                    <span class="sidebar-normal"> Ler Artigos </span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="sis/blog/write">
                    <span class="sidebar-normal"> Escrever Artigo </span>
                  </a>
                </li>

              </ul>
            </div>
          </li>

          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#downloads">
              <i class="material-icons">
                download_for_offline
              </i>
              <p> Central de Downloads
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="downloads">
              <ul class="nav">

                <li class="nav-item ">
                  <a class="nav-link" href="sis/downloads/gce">
                    <span class="sidebar-normal">GCE</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="sis/downloads/gabinete">
                    <span class="sidebar-normal">Gabinete</span>
                  </a>
                </li>

              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#projetos">
              <i class="material-icons">
                space_dashboard
              </i>
              <p> Projetos
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="projetos">
              <ul class="nav">

                <li class="nav-item ">
                  <a class="nav-link" href="sis/imersao">
                    <span class="sidebar-normal">Imersão Ritualística</span>
                  </a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar-background"></div>
    </div>
    <!-- sidebar end -->
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
              </button>
            </div>
            <a class="navbar-brand">{{template:title}}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <!-- <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Notificações
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifications">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Conta
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <!-- <a class="dropdown-item" href="users">Perfil</a> -->
                  {{ if user:has_cp_permissions }}
                  <a class="dropdown-item" href="admin">Painel Admin</a>
                  {{ endif }}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="users/logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="content">
          <div class="content-fluid px-md-4 mx-md-1">