<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
{{ favicon }}
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="" />
<!--  Social tags      -->
<meta name="keywords" content="">
<meta name="description" content="">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">
<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@">
<meta name="twitter:title" content="{{settings:site_name}}">
<meta name="twitter:description" content="">
<meta name="twitter:creator" content="@">
<meta name="twitter:image" content="">
<!-- Open Graph data -->
<meta property="og:title" content="{{settings:site_name}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="{{settings:site_name}}" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<script src="https://kit.fontawesome.com/4c36f166ff.js" crossorigin="anonymous"></script>
<!-- Set a base location for assets -->
<base href="{{ url:base }}" />
<!-- End base -->
<!-- CSS Files -->
{{ theme:css file="bootstrap.css" }}
{{ theme:css file="material-dashboard.min6c54.css" }}

<script>
    const APPPATH_URI					= "<?php echo $uriApp;?>";
    const SITE_URL					= "<?php echo rtrim(site_url(), '/').'/';?>";
    const BASE_URL					= "<?php echo BASE_URL;?>";
    const BASE_URI					= "<?php echo BASE_URI;?>";
    const UPLOAD_PATH					= "<?php echo UPLOAD_PATH;?>";
    const DEFAULT_TITLE				= "<?php echo addslashes($this->settings->site_name); ?>";
    const MENU_BUTTON				= "<?php echo $menuButton ?>";
</script>