label {
	width:23%!important;
}

span.move-handle {
	position: absolute;
	top: 0px;
	right: 0px;
	float:right;
	margin-right:6px;
	width:18px;
	height:18px;
	cursor:move;
	background:url('../../../themes/lazzocms/img/icons/drag_handle.gif') no-repeat;
}

div.tabs fieldset ol li {
	cursor:default;
}

div.type-checkbox label {
	text-align:left;
	font-weight:400;
	width: auto !important;
	margin: 0;
}