<div style="background-color: #f1f4f6;">
    <div style="background-color:#191919 ;
    padding: 20px 20px;
    display: flex;
    align-items: center;">
        <img src="http://segce.demolayrs.com/addons/default/themes/gce/img/logo.png" style="height: 60px;"alt="">
        <h1 style="margin: 0px 10px;
        color: #FFF;
        line-height: 30px;">{{title}}</h1>
    </div>
    <div style="padding: 30px 20px">
        {{children}}
    </div>
</div>