.wrap-medias .media-thumb{
    width: 100%;
    border: #bfc3c8 solid 1px;
    border-radius: .25rem;
    padding: 5px;
    cursor: pointer;
}
.wrap-medias .media-thumb>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* modal edit */
.file-container img, .file-container video, .file-container audio {
    width: 70%;
    margin: 30px 15%;
    border: #9f9da6 solid 2px;
}
.file-container video {
    width: 90%;
    margin: 30px 5%;
}
.size-edit{
    width: 96%;
    max-width: 100%;
}
@media(min-width: 576px){
    .size-edit{
        width: 80%;
        max-width: 80%;
    }
}
@media(min-width: 992px){
    .file-container {
        border-right: #9f9da6 solid 2px;
    }
}