<!-- Begin meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="LazzoCMS Dev Team" />
<meta name="copyright" content="LazzoCMS LLC" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />

{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}

<base href="{{ url:base }}" />

<!-- Begin stylesheets -->
{{ asset:css file="style.css" }}
<!-- End stylesheets -->

<!-- Use Html5Shiv in order to allow IE render HTML5 -->
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- Begin scripts -->
{{ asset:js file="jquery/jquery.js" }}
<!-- End scripts -->

{{ asset:render }}

{{ template:metadata }}

<!-- Place CSS bug fixes for IE 7 in this comment -->
<!--[if IE 7]>
{{ theme:css file="ie.css" }}
<![endif]-->

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
