#tableUsers_filter{
    display: none
}

.cursor-default{
    cursor: default;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-move{
    cursor: move;
}
.cursor-not-allowed{
    cursor: not-allowed;
}

.nestedSortable ul, .sortable ul{
    list-style-type: none;
}

#toast-container p {
    margin: 0;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Escolher";
}

@media (max-width: 560px){
    .app-header__logo{
        padding-left: 0
    }
}


/*    MEDIA MODAL    */
@media(min-width: 576px){
    #media-modal-choose>.modal-dialog{
        width: 80%;
        max-width: 80%;
    }
}

#media-modal-choose .loader{
    display: flex;
    align-content: center;
}
#media-modal-choose .media-thumb{
    width: 100%;
    border: #bfc3c8 solid 1px;
    border-radius: .25rem;
    padding: 5px;
    cursor: pointer;
}
#media-modal-choose .media-thumb>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.min-width-100{
    min-width: 100%;
}